/* Genel Gece Modu ve Normal Modu Renk Düzenlemeleri */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Gece modu renkleri */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

.tab-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

/* Normal modda tab renkleri */
.tab {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #f4f4f4;  /* açık renk arka plan */
    color: #333;  /* koyu renk yazı */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #007bff;  /* Aktif sekme için mavi arka plan */
    color: white;
}

/* Gece modunda tab renkleri */
body.dark-mode .tab {
    background-color: #333;  /* Koyu arka plan */
    color: #f4f4f4;  /* Beyaz yazı */
}

body.dark-mode .tab:hover {
    background-color: #555;  /* Koyu renk hover */
}

body.dark-mode .tab.active {
    background-color: #1e90ff;  /* Gece modunda mavi renk aktif tab */
    color: white;
}

/* Tab içerikleri */
.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;  /* normal modda açık arka plan */
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

body.dark-mode .tab-content {
    background-color: #333;  /* Gece modunda koyu arka plan */
}

/* İçeriklerin görünmesi */
.tab-pane {
    display: none; /* Başlangıçta tüm içerikler gizli olacak */
}

.tab-pane.active {
    display: block; /* Sadece aktif içerik görünür olacak */
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
    color: #333;
}

body.dark-mode ul li {
    color: #f4f4f4;  /* Gece modunda beyaz renkli liste öğeleri */
}
